<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Meet SyncMate 8 and get a special offer</title>
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../dist/styles.css" inline>
</head>
<body>

<a href="https://docs.google.com/document/d/1RNqR75KJvZTXgv0pUGCtOW5Ch4x_nz1MwwcJG_i5LeA/edit"></a>

  <table class="body">
    <tr>
      <td>
        <center>
          <spacer size="30"></spacer>
          <container>
            <row>
              <columns large="6" small="6" class="no-pl">
                <a href="https://www.electronic.us/" class="logo" target="_blank"><img src="./img/logo@2x.png" width="93" height="27" alt="Electronic Team, Inc."><span class="show-for-large">Electronic Team, Inc</span></a>
              </columns>
              <columns large="6" small="6" class="no-pr">
                <p class="text-right">
                  <a href="https://www.electronic.us/submit/promo/41168/index.html" target="_blank" class="open-browser"><img src="./img/open.png" width="30" height="30" alt="open in browser"></a>
                </p>
              </columns>
            </row>
            
            <row>
              <columns>
                <center>
                  <img src="https://mac.eltima.com/submit/promo/41168/img/syncmateIcon.png" class="logo-img" width="360" height="210" alt="SyncMate logo" />
                </center>
              </columns>
            </row>
            <spacer size="18"></spacer>
            <row>
              <columns>
                <center>
                  <img src="./img/badge.png" width="116" height="24" alt="badge" />
                </center>
                <spacer size="22"></spacer>
                <p class="top-text text-center">MacDroid</p>
                <h1 class="heading text-center">An app that easily<br>connects Android to Mac</h1>
                <spacer size="12"></spacer>
              
                <p class="basic-text text-center">MacDroid is one of the few apps that can easily transfer files between Android and Mac, letting you access and manage files in the Finder without the necessity of having any third-party apps on your Android device.</p>

              </columns>
            </row>
            <spacer size="28"></spacer>
            <row class="collapse">
              <columns>
                <row>
                  <columns>
                    <center>
                      <button href="#" class="radius large">Download for Free</button>
                    </center>
                  </columns>
                </row>
                <spacer size="15"></spacer>
                <row>
                  <columns>
                    <center>
                      <span class="small-description center-on-mobile">Requires macOS 10.10 and higher;<br>Compatible with all Android and MTP devices.</span> 
                    </center>
                  </columns>
                </row> 
              </columns>
            </row>
            <spacer size="36"></spacer>
          </container>

          <container class="bkg-secondary radius">
            <row class="custom-row">

              <columns large="4" small="12" class="custom-col">
                <spacer size="36"></spacer>
                <h3 class="heading-3 main-color">Mount Android <br> as disk on Mac</h3>
                <spacer size="7"></spacer>
                <p class="small-text main-color">
                 With MacDroid you can easily connect any Android or MTP device to your Mac and manage its content directly in the Finder. MacDroid gives you access to both — internal and external — storages of Android.
                </p>
              </columns>
              <columns large="6" small="12" class="center-on-mobile">
                <img src="./img/mounted.png" width="300" height="320" alt="mount Android" />
              </columns> 
            </row>
          </container>
          <spacer size="36"></spacer>

          <container class="bkg-secondary radius">
            <row>
              <columns>
                <img src="./img/fileTypes.png" width="360" height="80" alt="Transfer any type of files" />
                <spacer size="22"></spacer>
                <h3 class="heading-3 main-color">Transfer any type of files between Mac and Android</h3>
                <spacer size="10"></spacer>
                <p class="small-text main-color">
                 MacDroid can transfer any type of files between your Mac and Android — pictures, videos, music, separate files or even entire folders.
                </p>      
              </columns>
            </row>
          </container>
          <spacer size="36"></spacer>

          <container class="bkg-color-a2d5c7 radius">

            <row>
              <columns large="4" small="12" class="center-on-mobile custom-col">
                <center>
                  <img src="./img/discount.png" width="140" height="220" alt="discount" />               
                </center>
              </columns>
          
              <columns large="8" small="12" class="custom-col">
                <spacer size="40"></spacer>
                <row>
                  <columns>
                    <h3 class="heading-3 center-on-mobile">Special offer</h3>
                    <spacer size="10"></spacer>
                    <p class="small-text secondary-color">
                     Celebrate this release with us! You are welcome to get MacDroid PRO subscription with a special 50% discount: your 1st year of using MacDroid for just $9.99!
                    </p>
                    <spacer size="20"></spacer>
                  </columns>
                </row>
          
                <row class="collapse">
                  <columns>
                    <button href="https://www.sync-mac.com/syncmate-upgrade/?coupon=SM8-NWSLTTR-MC" class="radius large">Try PRO</button>
                  </columns>
                  <spacer size="10"></spacer>
                </row>

                <row>
                  <columns>
                    <p class="small-text descriptor">
                     Free version allows transferring data from Android to Mac only, while PRO transfers data in both directions — from Mac to Android and from Android to Mac
                    </p>
                    <spacer size="20"></spacer>
                  </columns>
                </row>
              </columns>
            </row>
          </container>
          <spacer size="36"></spacer>

          <container class="bkg-secondary radius">
            <row class="custom-row">

              <columns large="4" small="12" class="custom-col">
                <spacer size="36"></spacer>
                <h3 class="heading-3 main-color">Connect other MTP <br> devices</h3>
                <spacer size="7"></spacer>
                <p class="small-text main-color">
                 Additionally to Android devices, MacDroid allows you connecting any MTP devices to your Mac and transferring files between them.
                </p>
              </columns>
              <columns large="6" small="12" class="center-on-mobile">
                <img src="./img/mtpDevices.png" width="300" height="320" alt="other MTP" />
              </columns> 
            </row>
          </container>
          <spacer size="36"></spacer>

          <container class="bkg-secondary radius">
          
            <spacer size="40"></spacer>

            <row class="collapse">
              <columns large="3" small="12" class="center-on-mobile mod">
                <img src="./img/MacDroid.png" class="img-cart" width="120" height="120" alt="MacDroid logo" /> 
              </columns>

              <columns large="9" small="12" class="custom-col mod">
                <row class="collapse custom-collapse">
                  <columns class="custom-columns">
                    <div class="heading-top-text">MacDroid</div>
                    <h3 class="heading-3 main-color center-on-mobile">Transfer files between Mac and Android within a couple of clicks</h3>
                    <spacer size="10"></spacer>
                    <p class="small-text main-color">
                      It’s up to you - to try PRO version or to stay with MacDroid Free — in both cases you’ll be satisfied with the functionality MacDroid offers.
                    </p>
                    <spacer size="18"></spacer>
                  </columns>
                </row>

                <row class="collapse custom-collapse">
                  <columns>
                    <button href="#" class="radius large">Download for Free</button>
                  </columns>
                  
                  <spacer size="15"></spacer>
                  
                </row>
                <row class="collapse custom-collapse">
                  <columns large="12" small="12" class="custom-columns">
                    <span class="small-description center-on-mobile">Requires macOS 10.10 and higher;<br>Compatible with all Android and MTP devices.</span> 
                  </columns>
                  <spacer size="0"></spacer>
                </row>
                
                <spacer size="25"></spacer> 
              </columns>
            </row>

          </container>
          <spacer size="100"></spacer>


        </center>
      </td>
    </tr>
  </table>

</body>
</html>